.dirStepWrapper {
    right: auto;
    left: auto;
}
.dirStepSpacer {
    width: 100%;
    height: 8px;
}
.dirLeg {
    box-sizing: border-box;
    border: 1px solid #686868;
    /*text-align: center;*/
    margin: 0 0 0 5px;
}
.closeDirStep {
    margin: 5px -10px 5px 0;
}
.instructions {
    width: 100%;
    margin: 15px -5px 10px 0;
}