html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Start styling all things panel related*/
/*Start styling the panel itself*/
.panel {
    display: none;
    position: absolute;
    opacity: 0.85;
}
#panel {
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: #f4f4f4;
}
/*End styling the panel itself*/
/*Start styling the panel content*/
/*Start styling the content tabs*/
.tab-btn-select {
    position: absolute;
    background: #cccccc;
    opacity: 0.95;
}
.tab-btn {
    position: absolute;
    background: #e6e6e6;
    opacity: 0.95;
}
#ops-tab {
    top: 10px;
    right: 150px;
    height: 40px;
    width: 135px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}
#dir-tab {
    top: 10px;
    right: 15px;
    height: 40px;
    width: 135px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
/*End styling the content tabs*/
/*Start styling the Map Options content*/
.ops-content {
    position: relative;
    text-align: center;
}
#ops-content-wrap {
    top: 60px;
    height: 400px;
    display: table;
}
#map-type{
    display: table-row;
}
#map-style{
    display: table-row;
}
#icon-style {
    display: table-row;
}
#about-map {
    display: table-row;
}
/*End styling the Map Options content*/


/*Start styling the accordion*/
.ui-accordion{
    height: 400px;
    width: 300px;
}
.ui-accordion-header{
    color: red;
}
.ui-accordion-content{
    height: 300px;
    width: 280px;
}
/*End styling the accordion*/


/*Start styling the Directions content*/
.dir-content {
    display: none;
    position: relative;
    text-align: center;
}
#dir-content-wrap {
    display: table none;
    top: 60px;
    height: 400px;
}
#dir-content{
    display: table-row;
}
#dir-out{
    display: table-row;
}
/*End styling the Directions content*/
/*End styling the panel content*/

/*Start styling the panel toggle*/
#outerContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #aaaaaa;
    opacity: 0.7;
}
#innerContainer {
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 2.5em;
    width: 50px;
    height: 50px;
    text-align: center;
}
/*End styling the panel toggle*/
